@import "normalize";
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

$column: 90px;
$gutter: 30px;
$grid-columns: 10;
$max-width: em(720);
$navigation-color: blue;

body {
  background-color: #cccccc;
}

a {
  color: #ff4136;
}

div.container {
  @include outer-container;
}

header {
  ul li {
    a {
      color: $navigation-color;
    }
  }
}

.opvallend {
  color: green;
}
